#header {
	nav {
		background: rgba(0, 0, 0, 0.55);
		position: fixed;
		width: 100%;
	}
	.menu {
		&_item {

		}

		&_logo {
			width: 20%;
			@include breakpoint(small-tablet) {
				flex-grow: 1;
			}

			a {
				font-family: Montserrat;
				color: #000000;
				font-size: 25px;
				font-weight: 700;
				text-align: left;
			}
		}

		&_list {
			width: 65%;
			@include breakpoint(tablet) {
				width: 80%;
			}
			@include breakpoint(small-tablet) {
				position: absolute;
				top: 55px;
				left: 0;
				width: 100%;
				background: black;
			}

			ul {
				display: flex;
				text-align: center;
				@include breakpoint(small-tablet) { 
					flex-direction: column;
					padding: 5px 0;
					text-align: left;
				}
			}
		}

		&_list-item {
			width: 20%;
			@include breakpoint(small-tablet) { 
				width: 100%;
			}
			    
			a {
				font-size: 14px;
				font-family: Montserrat;
				color:  #000000;
				font-weight: bold;
				text-transform: uppercase;
				padding: 6px 10px;
				display: block;
				&:hover {
					color:  #fff;
					background-color: #3998FF;
				}
				@include breakpoint(small-tablet) { 
					color:  white;
				}
			}
		}

		&_social {
			width: 15%;
			@include breakpoint(tablet) {
				display: none;
			}

			ul {
				display: flex;
				justify-content: flex-end;
			}
		}

		&_social-item {
		    width: 30px;
		    height: 30px;
		    background-color: #000;
		    border-radius: 50px;
		    cursor: pointer;
		    margin-left: 8px;
		    text-align: center;
			a {
				color: white;
			    line-height: 30px;
			    font-size: 12px;
			}
		}

		&_toggle {
			display: none;
			align-self: center;
			cursor: pointer;
			@include breakpoint(small-tablet) {
				display: block;
			}

			a {
				color: white;
				&:hover {
					color: #c2c2c2;
				}
			}
		}

		&_wrp {
			display: flex;
		    padding: 25px 0;
		    @include breakpoint(tablet) {
				padding: 15px 0;
			}
		}
	}
}